@if (!loggedIn){
<div id="loginFormParent" class="text-center">
  <h2 class="py-1">- {{"LOGIN" | translate }} -</h2>
  <form action="" id="loginForm" #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="formGroup">
      <input name="email" type="email" class="form-control" placeholder="E-mail" [(ngModel)]="userDataModel.email" required email #emailerr="ngModel">
      @if (emailerr.invalid && (emailerr.dirty || emailerr.touched)){
        <p class="formError">{{"EMAIL_ERR" | translate}}</p>
      }
      @else {
        <p class="formError">&nbsp;</p>
      }
    </div>
    <div class="formGroup">

      <input name="pwd" type="password" class="form-control" minlength="6" placeholder="{{'PASSWORD' | translate}}" [(ngModel)]="userDataModel.pwd" required #pwderr="ngModel" (input)="validatePassword()">        
      @if ((!passwordValid || pwderr.errors) && (pwderr.dirty || pwderr.touched)){
        <p *ngIf="pwderr.errors?.['minlength']" class="formError">{{"PWD_ERR1" | translate}}</p>
        <p *ngIf="pwderr.errors?.['required']" class="formError">{{"PWD_ERR2" | translate}}</p>
        <p *ngIf="!passwordValid && !pwderr.errors?.['required']" class="formError">{{"PWD_ERR3" | translate}}</p>
      }
      @else {
        <p class="formError">&nbsp;</p>
      }
    </div>
    <input type="submit" value="{{'LOGIN' | translate }}" [disabled]="f.invalid" class="btn"/>
  </form>
</div>
}
@else{
  {{navigateToSearchPage()}}
}
<router-outlet />
