$bootstrap-blue: rgb(134, 182.5, 254);

#loginFormParent{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid $bootstrap-blue;
    padding: 20px;
    box-sizing: content-box;
    border-radius: 25px;
    -webkit-box-shadow:0px 0px 150px 10px $bootstrap-blue;
    -moz-box-shadow: 0px 0px 150px 10px $bootstrap-blue;
    box-shadow: 0px 0px 150px 10px $bootstrap-blue;
}
.formError{
    color: lightcoral;
    text-align: left;
    font-size: small;
    margin: 5px 0 10px 5px;
}
input[type="submit"], button{
    background-color: $bootstrap-blue;
    border: 0;
}
.topBar{
    height: 120px;
    border-bottom: 1px solid $bootstrap-blue;
    margin-bottom: 5px;
    font-size: large;
    display: grid;
    place-items: center;
}
.contentDiv{
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.movieRow{
    border-bottom: 1px solid $bootstrap-blue;
    padding: 20px;
    position: relative;
    cursor: pointer;
    & img{
        height: 300px;
    }
    z-index: 1;
}
.langSelectorParent{
    position: relative;
    right: 10px;
    width: 100px;
    position: absolute;
    top: 10px;
    & img{
        pointer-events: none;
        width: 20px;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        left: 40px;
    }
}
.favorite_toggle{
    background: transparent !important;
    position: absolute;
    top: 5px;
    right: 60px;
    width: 25px;
    & img{
        width: 25px;
        height: 25px;
    }
    z-index: 2;
}
#emailLineBreak{
    display: none;
}
@media screen and (max-width: 992px){
    #loginFormParent{
        width: 70%;
    }
    .contentDiv{
        max-width: 700px !important;
    }
    .favorite_toggle{
        right: 30px;
    }
    #detailsContainer{
        margin-top: 50px;
    }
    .topBar{
        height: 170px;
    }
}
@media screen and (max-width: 768px){
    .contentDiv{
        max-width: 500px !important;
    }
    .largeMoviePoster{
        width: 110%;
        margin-bottom: 10px;
    }
    #logoutBtn{
        margin-top: 10px;
        float: left !important;
    }
    #emailLineBreak{
        display: block;
    }
}