@if (loggedIn) {
<div class="topBar">
    <div class="contentDiv">
        {{userEmail}}
        <button type="button" class="btn" style="float: right;" (click)="logout()">{{"LOGOUT" | translate}}</button>
    </div>
</div>
<div class="contentDiv">
    <h3>{{"SEARCHBAR_TITLE" | translate}}</h3>
    <input type="text" [(ngModel)]="movieTitle" class="form-control" (ngModelChange)="onType()" #movieInp="ngModel">
    <div id="result" style="margin-top: 10px;">
        @for (movie of movies; track movie.id){
            <div class="movieRow row" data-id="{{movie.id}}" (click)="movieClicked(movie.id)">
                <div class="col-4">
                    @if (movie.poster_path == null || movie.poster_path == "") {
                        <img src="no-image.png" alt="" title="{{movie.title}}">
                    }
                    @else{
                        <img src="{{images_url}}{{movie.poster_path}}" alt="" title="{{movie.title}}">
                    }
                </div>
                <div class="col">
                    <h3>{{movie.title}}</h3>
                    <p>{{"RELEASEDATE" | translate}}{{(movie.release_date) ?? "-" }}</p>
                    @if(movie.genre_ids.length > 0){
                    {{"GENRES" | translate}}
                    <ul>
                        @for (genre of movie.genre_ids; track genre){
                            @if(getGenre(genre) != "no genre found"){
                                <li>{{ getGenre(genre) }}</li>
                            }
                        }
                    </ul>
                    }
                </div>
            </div>
        }
        @empty {
            @if ((movieInp.dirty || movieInp.touched) && movieTitle.length >= 3) {
                <h6>{{"NOTFOUND" | translate}}</h6>
            }
        }
    </div>
</div>
} @else { {{logout()}} }
<router-outlet/>
