<div class="h-100 w-100 p-4 row">
    <div class="col-4 text-center">
        @if (movie!.poster_path == null || movie!.poster_path == "") {
            <img src="no-image.png" alt="" title="{{movie!.title}}">
        }
        @else{
            <img src="{{images_url}}{{movie!.poster_path}}" alt="" title="{{movie!.title}}">
        }
    </div>
    <div class="col">
        <h4>{{ movie!.title }}</h4>
        <ul>
            <li *ngIf="movie!.overview">{{"OVERVIEW" | translate}}<br>{{movie!.overview}}</li>
            <li *ngIf="movie!.genres.length > 0">{{"GENRES" | translate}}: {{getNames(movie!.genres).join(", ")}}</li>
            <li *ngIf="movie!.release_date">{{"RELEASEDATE" | translate}}{{movie!.release_date}}</li>
            <li *ngIf="movie!.imdb_id"><a href="https://imdb.com/title/{{movie!.imdb_id}}" target="_blank">IMDb {{"PAGE" | translate}}</a></li>
            <li *ngIf="movie!.runtime">{{"RUNTIME" | translate}}{{movie!.runtime}} {{"MINS" | translate}}</li>
            <li *ngIf="movie!.production_countries.length > 0">{{"COUNTRIES" | translate}}{{getNames(movie!.production_countries).join(", ")}}</li>
        </ul>
        <button class="btn" (click)="router.navigateByUrl('search')">{{"BACK" |translate}}</button>
    </div>
</div>
<router-outlet/>
